beautifulsoup4
bs4
rake_nltk
certifi
chardet
colorama
idna
isort
nltk
numpy
matplotlib
pandas
pylint
python-dateutil
pytz
requests
six
soupsieve
sqlparse
typed-ast
urllib3
wrapt
matplotlib
mysql-connector