<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <h1>HELLO THIS IS THE MAIN PAGE!!!</h1>    
    {% if topic %}
        <h1>{{topic}}</h1>
    {% endif %}
    <div>
        <input id="search" name="search" type="text" class="query-search" placeholder="Search...">
        <input onclick="setGetParameter()" type="button" class="btn btn-primary" value="View Details" />
        </div>
    
    
        <script>
    
            function setGetParameter() {
                searchTopic = document.getElementById('search').value;
                window.location.href = "{% url 'index' %}" + "?search=" + searchTopic;
            }
        </script>
        {% if show_topic %}
        <ul>
            {% for topic in show_topic %}
            <li><h2>{{topic}}</h2></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if searchTopic %}
        <h1>{{searchTopic}}</h1>
        {% endif %}
</body>
</html>
